[submodule "device/lge/hammerhead"]
	path = device/lge/hammerhead
	url = https://android.googlesource.com/device/lge/hammerhead
[submodule "device/lge/hammerhead-kernel"]
	path = device/lge/hammerhead-kernel
	url = https://android.googlesource.com/device/lge/hammerhead-kernel
[submodule "frameworks/native"]
	path = frameworks/native
	url = https://android.googlesource.com/platform/frameworks/native
[submodule "build"]
	path = build
	url = https://android.googlesource.com/platform/build
[submodule "prebuilts/build-tools"]
	path = prebuilts/build-tools
	url = https://android.googlesource.com/platform/prebuilts/build-tools
[submodule "prebuilts/go/linux-x86"]
	path = prebuilts/go/linux-x86
	url = https://android.googlesource.com/platform/prebuilts/go/linux-x86
[submodule "prebuilts/clang/host/linux-x86"]
	path = prebuilts/clang/host/linux-x86
	url = https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86
[submodule "prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8"]
	path = prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8
[submodule "prebuilts/sdk"]
	path = prebuilts/sdk
	url = https://android.googlesource.com/platform/prebuilts/sdk
[submodule "prebuilts/ninja/linux-x86"]
	path = prebuilts/ninja/linux-x86
	url = https://android.googlesource.com/platform/prebuilts/ninja/linux-x86
[submodule "system/core"]
	path = system/core
	url = https://android.googlesource.com/platform/system/core
